h1.otto {
	text-align:center;
    font-size: 50px;
}
h2 {
text-align: center;
}
.header {
	width: 100%;
	height: auto;
    background: #0e8dbc;
    padding-top: 20px;
	
}

.headerContent {
	width: 1024px;
	height: auto;
	margin: 0 auto;
}

.nav {
	height: 40px;
    text-align: center;
}

.nav ul {
	margin: 0;
	padding: 0;
}

.nav ul li {
	list-style-type: none;
    display: inline;
	
}

.nav ul li a {
	display:inline-block;
	padding: 10px 20px;
    text-decoration: none;
    color: white;
}

.otto {
    color: white;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
